bin/*
.project
.classpath
*~
.Rapp.history
.Rhistory
\#*
.\#*
build/*
*.~lock.*

*.aux
*.log
*.synctex.gz
*.blg
*.bbl

writing/TechReportV1/TR_v1.pdf
writing/TechReportV1/TR_v1.out
writing/TechReportV1/appendix.out
writing/TechReportV1/appendix.pdf

writing/icml2012/icml.pdf
writing/icml2012/icml.out

writing/nips/nips2012.pdf
writing/nips/nips2012.out

writing/nips-edited/TR_v1.pdf
writing/nips-edited/TR_v1.out
writing/nips-edited/supplementary.out
writing/nips-edited/supplementary.pdf

writing/extended-abstract/extended-abstract.out
writing/extended-abstract/extended-abstract.pdf
writing/extended-abstract/.~lock.extended-abstract.doc#